In [18]:
#Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, BatchNormalization, Input
from tensorflow.keras.optimizers.schedules import PiecewiseConstantDecay
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tensorflow.keras.callbacks import EarlyStopping

### Data Loading

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
def getSampleData():
  return pd.read_csv("/content/drive/MyDrive/Sample getTransactions API data.csv")

In [5]:
raw = getSampleData()
raw.head(30)

,type,id,status,description,amount,account,balance,direction,class,institution,connection,enrich,transactionDate,postDate,subClass,links
0,transaction,4957bcf6-f18f-43d7-94df-71f44a0bcf32,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,d3de1ca1,22109.56,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:07:36,NaN,"{""account"":""https://au-api.basiq.io/users/6a52..."
1,transaction,0d6e11ab-e28e-4de0-a152-600cc44fb61c,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22309.56,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
2,transaction,323f6d42-a38e-4c46-83d2-6c8f3e999686,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,070c1d68-0ee0-477a-9679-294ea7059939,22312.06,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
3,transaction,1ab3a3c5-faeb-4de3-b5aa-612e5bc76fd5,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22512.06,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
4,transaction,d12df6a2-48b6-4f5f-a718-ccb377aa330c,posted,Transfer Platnm Homeloan 346454,-3852.5,070c1d68-0ee0-477a-9679-294ea7059939,22514.56,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,29/07/2023,2023-07-29T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
5,transaction,08e6f7c9-f359-48f2-b086-a55f468f2f60,posted,TFR From Transaction to CC Acc 13,-9406.0,070c1d68-0ee0-477a-9679-294ea7059939,26367.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
6,transaction,53570fde-c731-4e33-8224-0583650eeaa7,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,35773.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
7,transaction,55dbdd71-9976-43ec-a724-7cf620d279d4,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,18675.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,17/07/2023,2023-07-17T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
8,transaction,17b710a5-da3d-42f8-ae31-f9d601f95c6d,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,18474.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
9,transaction,d93fb495-8a7a-4997-8a16-b3581b778471,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,19896.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
10,transaction,6ba3dd59-4268-419d-b5aa-49df88c11c71,posted,Funds Transfer Transfer,3001.0,070c1d68-0ee0-477a-9679-294ea7059939,19947.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
11,transaction,7d9413b0-694f-4b62-aac9-c178a6f069c6,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,16946.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
12,transaction,4f3bb9a5-9597-4d71-80db-fae35b70edcd,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,16745.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,12/07/2023,2023-07-12T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
13,transaction,9cf8a7ac-0e8b-4699-81e6-98181bdf18cf,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,17245.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,9/07/2023,2023-07-09T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
14,transaction,d5a36da2-5b9f-4dbf-aa95-eb518d163f0f,posted,Wdl ATM CBA ATM SEAFORTH NSW 225101 AUS,-750.0,070c1d68-0ee0-477a-9679-294ea7059939,17323.26,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/07/2023,2023-07-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
15,transaction,70aa3766-93eb-4da6-ab69-299b16507794,posted,Transfer Platnm Homeloan 346454,-3860.0,070c1d68-0ee0-477a-9679-294ea7059939,18073.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/06/2023,2023-06-28T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
16,transaction,6b8f916b-3317-4a5a-818b-82b008f67d84,posted,TFR From Transaction to CC Acc 13,-9398.5,070c1d68-0ee0-477a-9679-294ea7059939,21933.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
17,transaction,7dbf9e0f-e172-4474-9427-69fbb2d46752,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,31331.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
18,transaction,d4f55027-9c2f-4288-8580-0969738f4d78,posted,CTRLINK CARERS Ref: 998R6789201610974V,19.6,070c1d68-0ee0-477a-9679-294ea7059939,14233.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,22/06/2023,2023-06-22T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
19,transaction,e24adcd4-4a91-4a0e-bc57-48256635e051,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,14214.16,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-19T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
20,transaction,a5fd3de7-1d3b-44e9-8821-d01dc852a0d7,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,14013.16,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
21,transaction,358ed9c0-46c0-486e-bedc-fe05cb2d7030,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,15435.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,18/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
22,transaction,7aa1234e-4132-4dcb-8cd2-c2adeeb43891,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,15486.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,15/06/2023,2023-06-15T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
23,transaction,793923f1-00e1-4181-b518-13feac5adca9,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,15285.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,14/06/2023,2023-06-14T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
24,transaction,305aba74-a09e-470d-9079-f386936b08b8,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,15785.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,11/06/2023,2023-06-11T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
25,transaction,32f52553-c38d-473f-994d-3e6dcf949268,posted,CTRLINK CARERS Ref: 998R6789201610974V,26.0,070c1d68-0ee0-477a-9679-294ea7059939,15863.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,1/06/2023,2023-06-01T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
26,transaction,78a8f7f6-5978-4985-a3d8-66f01838978c,posted,Transfer Platnm Homeloan 346454,-3867.5,070c1d68-0ee0-477a-9679-294ea7059939,15837.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,31/05/2023,2023-05-31T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
27,transaction,0b31ba00-2629-49d0-b5a3-ff18398efc7a,posted,TFR From Transaction to CC Acc 13,-9391.0,070c1d68-0ee0-477a-9679-294ea7059939,19704.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
28,transaction,d5944ba8-8211-4036-a412-aa25def5c61f,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,29095.86,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
29,transaction,1fe000a0-ccc3-4752-9fbc-f939a9473300,posted,MANLY WEST SCHOOL,-20.0,070c1d68-0ee0-477a-9679-294ea7059939,11997.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/05/2023,2023-05-28T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""

In [6]:
targetCol = 'balance'

### Data Cleaning

###### First, we'll drop some usless columns

In [7]:
clean = raw.copy(deep=True)
clean.drop(['type', 'id', 'status', 'direction', 'connection', 'subClass', 'links', 'description', 'postDate', 'enrich', 'institution', 'account'], axis=1, inplace=True)

clean.head(10)

    amount   balance            class transactionDate
0   -200.0  22109.56  cash-withdrawal       3/08/2023
1     -2.5  22309.56         bank-fee       3/08/2023
2   -200.0  22312.06  cash-withdrawal       3/08/2023
3     -2.5  22512.06         bank-fee       3/08/2023
4  -3852.5  22514.56          payment      29/07/2023
5  -9406.0  26367.06          payment      28/07/2023
6  17098.0  35773.06         transfer      28/07/2023
7    201.0  18675.06         transfer      17/07/2023
8  -1422.2  18474.06          payment      16/07/2023
9    -51.0  19896.26          payment      16/07/2023

###### Clean up dates into timestamps

In [8]:
datesAsTimestamp = pd.to_datetime(clean.pop('transactionDate'), format='%d/%m/%Y')
datesAsTimestamp = datesAsTimestamp.map(pd.Timestamp.timestamp)

day = 24*60*60
year = (365.2425)*day

clean['Day sin'] = np.sin(datesAsTimestamp * (2 * np.pi / day))
clean['Day cos'] = np.cos(datesAsTimestamp * (2 * np.pi / day))
clean['Year sin'] = np.sin(datesAsTimestamp * (2 * np.pi / year))
clean['Year cos'] = np.cos(datesAsTimestamp * (2 * np.pi / year))

###### One hot encode descriptions (to potentially indentify major hurdles to savings?)

In [9]:
encodedClasses = pd.get_dummies(clean.pop('class'))
clean = clean.join(encodedClasses)

In [10]:
clean.head(10)

,amount,balance,Day sin,Day cos,Year sin,Year cos,bank-fee,cash-withdrawal,payment,transfer
0,-200.0,22109.56,-8.175941e-12,1.0,-0.516141,-0.856504,0,1,0,0
1,-2.5,22309.56,-8.175941e-12,1.0,-0.516141,-0.856504,1,0,0,0
2,-200.0,22312.06,-8.175941e-12,1.0,-0.516141,-0.856504,0,1,0,0
3,-2.5,22512.06,-8.175941e-12,1.0,-0.516141,-0.856504,1,0,0,0
4,-3852.5,22514.56,-5.648035e-13,1.0,-0.440652,-0.897678,0,0,1,0
5,-9406.0,26367.06,-4.863342e-12,1.0,-0.425145,-0.905125,0,0,1,0
6,17098.0,35773.06,-4.863342e-12,1.0,-0.425145,-0.905125,0,0,0,1
7,201.0,18675.06,-8.491521e-12,1.0,-0.247299,-0.968939,0,0,0,1
8,-1422.2,18474.06,-1.279006e-11,1.0,-0.230595,-0.973050,0,0,1,0
9,-51.0,19896.26,-1.279006e-11,1.0,-0.230595,-0.973050,0,0,1,0

### Train/Test Split

In [11]:
trainPercent = 0.75
validationPercent = 0.15
testPercent = 0.1

In [12]:
n = len(clean)
train_df = clean[0:int(n*trainPercent)]
val_df = clean[int(n*trainPercent):int(n*(1-(validationPercent+testPercent)))]
test_df = clean[int(n*(1-(validationPercent+testPercent))):]

### Normalisation

In [13]:
train_mean = train_df.mean()
train_std = train_df.std()

train_df = (train_df - train_mean) / train_std
val_df = (val_df - train_mean) / train_std
test_df = (test_df - train_mean) / train_std

In [14]:
#After normalising, it's clear Day cos is useless
train_df.drop(columns=['Day cos'], inplace=True)
val_df.drop(columns=['Day cos'], inplace=True)
test_df.drop(columns=['Day cos'], inplace=True)

### Model Training

In [15]:
train_df

,amount,balance,Day sin,Year sin,Year cos,bank-fee,cash-withdrawal,payment,transfer
0,-0.051394,2.081805,-0.457899,-0.788015,-1.048682,-0.335972,2.308281,-0.988487,-0.568901
1,-0.013377,2.114899,-0.457899,-0.788015,-1.048682,2.962660,-0.431217,-0.988487,-0.568901
2,-0.051394,2.115312,-0.457899,-0.788015,-1.048682,-0.335972,2.308281,-0.988487,-0.568901
3,-0.013377,2.148406,-0.457899,-0.788015,-1.048682,2.962660,-0.431217,-0.988487,-0.568901
4,-0.754472,2.148820,1.295967,-0.676693,-1.104887,-0.335972,-0.431217,1.006963,-0.568901
...,...,...,...,...,...,...,...,...,...
211,0.025795,-0.416351,0.014096,1.026170,-0.835135,-0.335972,-0.431217,-0.988487,1.749638
212,0.025795,-0.449610,1.386294,1.061060,-0.801039,-0.335972,-0.431217,-0.988487,1.749638
213,-0.109142,-0.482869,0.395764,1.078024,-0.783579,-0.335972,-0.431217,1.006963,-0.568901
214,-0.043694,-0.400135,0.777432,1.126936,-0.729616,-0.335972,-0.431217,1.006963,-0.568901
215,-0.026178,-0.373660,0.777432,1.126936,-0.729616,-0.335972,-0.431217,1.006963,-0.568901

In [27]:
model = tf.keras.Sequential([
    Input(shape=(8,)),
    Dense(64, activation='relu'),
    Dropout(0.35),
    BatchNormalization(),
    Dense(16, activation='relu'),
    Dropout(0.20),
    BatchNormalization(),
    Dense(1, 'linear')
])

In [22]:
learning_rate_schedule = PiecewiseConstantDecay([1000, 2000, 3000], [0.1, 0.05, 0.01, 0.005])

In [38]:
earlyStop = EarlyStopping(monitor='mean_squared_error', patience=25, restore_best_weights=True)

In [39]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mean_squared_error', 'mean_absolute_error', 'mean_absolute_percentage_error', 'cosine_similarity'])

In [40]:
history = model.fit(train_df.drop(columns=[targetCol]),
                    train_df[targetCol],
                    epochs=150,
                    batch_size=64,
                    validation_data = (val_df.drop(columns=[targetCol]), val_df[targetCol]),
                    callbacks = [earlyStop])

Epoch 1/150
4/4 [==============================] - 2s 30ms/step - loss: 0.4087 - mean_squared_error: 0.4087 - mean_absolute_error: 0.4741 - mean_absolute_percentage_error: 330.4793 - cosine_similarity: 0.5278
Epoch 2/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4650 - mean_squared_error: 0.4650 - mean_absolute_error: 0.4880 - mean_absolute_percentage_error: 241.2758 - cosine_similarity: 0.5926
Epoch 3/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3436 - mean_squared_error: 0.3436 - mean_absolute_error: 0.4392 - mean_absolute_percentage_error: 207.1246 - cosine_similarity: 0.6111
Epoch 4/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3799 - mean_squared_error: 0.3799 - mean_absolute_error: 0.4401 - mean_absolute_percentage_error: 188.2134 - cosine_similarity: 0.6759
Epoch 5/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3863 - mean_squared_error: 0.3863 - mean_absolute_error: 0.4321 - mean_absolute_percentage_error: 249.1564 - cosine_similarity: 0.7222
Epoch 6/150
4/4 [==============================] - 0s 13ms/step - loss: 0.3528 - mean_squared_error: 0.3528 - mean_absolute_error: 0.4391 - mean_absolute_percentage_error: 274.1952 - cosine_similarity: 0.5926
Epoch 7/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4450 - mean_squared_error: 0.4450 - mean_absolute_error: 0.4799 - mean_absolute_percentage_error: 286.3919 - cosine_similarity: 0.6296
Epoch 8/150
4/4 [==============================] - 0s 17ms/step - loss: 0.3853 - mean_squared_error: 0.3853 - mean_absolute_error: 0.4542 - mean_absolute_percentage_error: 209.2471 - cosine_similarity: 0.6759
Epoch 9/150
4/4 [==============================] - 0s 16ms/step - loss: 0.3202 - mean_squared_error: 0.3202 - mean_absolute_error: 0.4212 - mean_absolute_percentage_error: 240.6524 - cosine_similarity: 0.6667
Epoch 10/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3536 - mean_squared_error: 0.3536 - mean_absolute_error: 0.4445 - mean_absolute_percentage_error: 253.6091 - cosine_similarity: 0.6296
Epoch 11/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3140 - mean_squared_error: 0.3140 - mean_absolute_error: 0.4061 - mean_absolute_percentage_error: 244.2726 - cosine_similarity: 0.6574
Epoch 12/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3502 - mean_squared_error: 0.3502 - mean_absolute_error: 0.4329 - mean_absolute_percentage_error: 196.7028 - cosine_similarity: 0.6667
Epoch 13/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3279 - mean_squared_error: 0.3279 - mean_absolute_error: 0.4134 - mean_absolute_percentage_error: 236.6176 - cosine_similarity: 0.6204
Epoch 14/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4509 - mean_squared_error: 0.4509 - mean_absolute_error: 0.4902 - mean_absolute_percentage_error: 304.6455 - cosine_similarity: 0.6111
Epoch 15/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3174 - mean_squared_error: 0.3174 - mean_absolute_error: 0.4030 - mean_absolute_percentage_error: 222.8267 - cosine_similarity: 0.7130
Epoch 16/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3270 - mean_squared_error: 0.3270 - mean_absolute_error: 0.4312 - mean_absolute_percentage_error: 212.1395 - cosine_similarity: 0.6944
Epoch 17/150
4/4 [==============================] - 0s 17ms/step - loss: 0.3542 - mean_squared_error: 0.3542 - mean_absolute_error: 0.4414 - mean_absolute_percentage_error: 272.4449 - cosine_similarity: 0.6204
Epoch 18/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3594 - mean_squared_error: 0.3594 - mean_absolute_error: 0.4296 - mean_absolute_percentage_error: 277.6714 - cosine_similarity: 0.6389
Epoch 19/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3403 - mean_squared_error: 0.3403 - mean_absolute_error: 0.4267 - mean_absolute_percentage_error: 227.6247 - cosine_similarity: 0.7222
Epoch 20/150
4/4 [==============================] - 0s 16ms/step - loss: 0.3690 - mean_squared_error: 0.3690 - mean_absolute_error: 0.4541 - mean_absolute_percentage_error: 200.2303 - cosine_similarity: 0.6389
Epoch 21/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3878 - mean_squared_error: 0.3878 - mean_absolute_error: 0.4442 - mean_absolute_percentage_error: 257.3885 - cosine_similarity: 0.7222
Epoch 22/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3403 - mean_squared_error: 0.3403 - mean_absolute_error: 0.4340 - mean_absolute_percentage_error: 300.0463 - cosine_similarity: 0.6759
Epoch 23/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3209 - mean_squared_error: 0.3209 - mean_absolute_error: 0.4288 - mean_absolute_percentage_error: 235.3259 - cosine_similarity: 0.6852
Epoch 24/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3180 - mean_squared_error: 0.3180 - mean_absolute_error: 0.4117 - mean_absolute_percentage_error: 243.2645 - cosine_similarity: 0.6481
Epoch 25/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3597 - mean_squared_error: 0.3597 - mean_absolute_error: 0.4340 - mean_absolute_percentage_error: 317.1508 - cosine_similarity: 0.6481
Epoch 26/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3416 - mean_squared_error: 0.3416 - mean_absolute_error: 0.4277 - mean_absolute_percentage_error: 197.1654 - cosine_similarity: 0.6574
Epoch 27/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3373 - mean_squared_error: 0.3373 - mean_absolute_error: 0.4336 - mean_absolute_percentage_error: 276.3939 - cosine_similarity: 0.6667
Epoch 28/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3735 - mean_squared_error: 0.3735 - mean_absolute_error: 0.4253 - mean_absolute_percentage_error: 250.2148 - cosine_similarity: 0.6667
Epoch 29/150
4/4 [==============================] - 0s 16ms/step - loss: 0.2558 - mean_squared_error: 0.2558 - mean_absolute_error: 0.3788 - mean_absolute_percentage_error: 254.0518 - cosine_similarity: 0.7222
Epoch 30/150
4/4 [==============================] - 0s 17ms/step - loss: 0.3626 - mean_squared_error: 0.3626 - mean_absolute_error: 0.4411 - mean_absolute_percentage_error: 294.1286 - cosine_similarity: 0.7500
Epoch 31/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3651 - mean_squared_error: 0.3651 - mean_absolute_error: 0.4458 - mean_absolute_percentage_error: 238.8877 - cosine_similarity: 0.6759
Epoch 32/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3020 - mean_squared_error: 0.3020 - mean_absolute_error: 0.3967 - mean_absolute_percentage_error: 171.0087 - cosine_similarity: 0.7593
Epoch 33/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3170 - mean_squared_error: 0.3170 - mean_absolute_error: 0.3938 - mean_absolute_percentage_error: 157.7444 - cosine_similarity: 0.7685
Epoch 34/150
4/4 [==============================] - 0s 18ms/step - loss: 0.3110 - mean_squared_error: 0.3110 - mean_absolute_error: 0.3908 - mean_absolute_percentage_error: 168.9625 - cosine_similarity: 0.7130
Epoch 35/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3067 - mean_squared_error: 0.3067 - mean_absolute_error: 0.4021 - mean_absolute_percentage_error: 229.8746 - cosine_similarity: 0.7315
Epoch 36/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3237 - mean_squared_error: 0.3237 - mean_absolute_error: 0.4193 - mean_absolute_percentage_error: 189.2161 - cosine_similarity: 0.6852
Epoch 37/150
4/4 [==============================] - 0s 14ms/step - loss: 0.2780 - mean_squared_error: 0.2780 - mean_absolute_error: 0.3859 - mean_absolute_percentage_error: 246.6931 - cosine_similarity: 0.7037
Epoch 38/150
4/4 [==============================] - 0s 16ms/step - loss: 0.3229 - mean_squared_error: 0.3229 - mean_absolute_error: 0.4179 - mean_absolute_percentage_error: 224.5223 - cosine_similarity: 0.6944
Epoch 39/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3671 - mean_squared_error: 0.3671 - mean_absolute_error: 0.4415 - mean_absolute_percentage_error: 424.5812 - cosine_similarity: 0.6759
Epoch 40/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3762 - mean_squared_error: 0.3762 - mean_absolute_error: 0.4384 - mean_absolute_percentage_error: 242.0541 - cosine_similarity: 0.6481
Epoch 41/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3020 - mean_squared_error: 0.3020 - mean_absolute_error: 0.4113 - mean_absolute_percentage_error: 200.5184 - cosine_similarity: 0.6944
Epoch 42/150
4/4 [==============================] - 0s 15ms/step - loss: 0.4085 - mean_squared_error: 0.4085 - mean_absolute_error: 0.4540 - mean_absolute_percentage_error: 302.1020 - cosine_similarity: 0.7130
Epoch 43/150
4/4 [==============================] - 0s 14ms/step - loss: 0.2935 - mean_squared_error: 0.2935 - mean_absolute_error: 0.3964 - mean_absolute_percentage_error: 234.9112 - cosine_similarity: 0.6574
Epoch 44/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3491 - mean_squared_error: 0.3491 - mean_absolute_error: 0.4271 - mean_absolute_percentage_error: 292.0823 - cosine_similarity: 0.7037
Epoch 45/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3058 - mean_squared_error: 0.3058 - mean_absolute_error: 0.3982 - mean_absolute_percentage_error: 254.8220 - cosine_similarity: 0.7130
Epoch 46/150
4/4 [==============================] - 0s 16ms/step - loss: 0.3300 - mean_squared_error: 0.3300 - mean_absolute_error: 0.4072 - mean_absolute_percentage_error: 143.1951 - cosine_similarity: 0.7870
Epoch 47/150
4/4 [==============================] - 0s 17ms/step - loss: 0.3970 - mean_squared_error: 0.3970 - mean_absolute_error: 0.4384 - mean_absolute_percentage_error: 334.8545 - cosine_similarity: 0.7130
Epoch 48/150
4/4 [==============================] - 0s 16ms/step - loss: 0.3348 - mean_squared_error: 0.3348 - mean_absolute_error: 0.4199 - mean_absolute_percentage_error: 280.8983 - cosine_similarity: 0.7130
Epoch 49/150
4/4 [==============================] - 0s 16ms/step - loss: 0.2883 - mean_squared_error: 0.2883 - mean_absolute_error: 0.4026 - mean_absolute_percentage_error: 212.9350 - cosine_similarity: 0.7407
Epoch 50/150
4/4 [==============================] - 0s 14ms/step - loss: 0.2587 - mean_squared_error: 0.2587 - mean_absolute_error: 0.3777 - mean_absolute_percentage_error: 324.1432 - cosine_similarity: 0.7315
Epoch 51/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3247 - mean_squared_error: 0.3247 - mean_absolute_error: 0.4132 - mean_absolute_percentage_error: 340.2277 - cosine_similarity: 0.7130
Epoch 52/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3410 - mean_squared_error: 0.3410 - mean_absolute_error: 0.4074 - mean_absolute_percentage_error: 248.8835 - cosine_similarity: 0.6481
Epoch 53/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3117 - mean_squared_error: 0.3117 - mean_absolute_error: 0.4175 - mean_absolute_percentage_error: 238.3673 - cosine_similarity: 0.7037
Epoch 54/150
4/4 [==============================] - 0s 17ms/step - loss: 0.3277 - mean_squared_error: 0.3277 - mean_absolute_error: 0.4231 - mean_absolute_percentage_error: 277.5168 - cosine_similarity: 0.7130

### Model Evaluation

In [ ]:
#TODO but from training it's looking good!