In [1]:
#Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, BatchNormalization, Input
from tensorflow.keras.optimizers.schedules import PiecewiseConstantDecay
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tensorflow.keras.callbacks import EarlyStopping

### Data Loading

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
def getSampleData():
  return pd.read_csv("/content/drive/MyDrive/Sample getTransactions API data.csv")

In [4]:
raw = getSampleData()
raw.head(30)

,type,id,status,description,amount,account,balance,direction,class,institution,connection,enrich,transactionDate,postDate,subClass,links
0,transaction,4957bcf6-f18f-43d7-94df-71f44a0bcf32,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,d3de1ca1,22109.56,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:07:36,NaN,"{""account"":""https://au-api.basiq.io/users/6a52..."
1,transaction,0d6e11ab-e28e-4de0-a152-600cc44fb61c,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22309.56,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
2,transaction,323f6d42-a38e-4c46-83d2-6c8f3e999686,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,070c1d68-0ee0-477a-9679-294ea7059939,22312.06,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
3,transaction,1ab3a3c5-faeb-4de3-b5aa-612e5bc76fd5,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22512.06,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
4,transaction,d12df6a2-48b6-4f5f-a718-ccb377aa330c,posted,Transfer Platnm Homeloan 346454,-3852.5,070c1d68-0ee0-477a-9679-294ea7059939,22514.56,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,29/07/2023,2023-07-29T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
5,transaction,08e6f7c9-f359-48f2-b086-a55f468f2f60,posted,TFR From Transaction to CC Acc 13,-9406.0,070c1d68-0ee0-477a-9679-294ea7059939,26367.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
6,transaction,53570fde-c731-4e33-8224-0583650eeaa7,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,35773.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
7,transaction,55dbdd71-9976-43ec-a724-7cf620d279d4,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,18675.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,17/07/2023,2023-07-17T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
8,transaction,17b710a5-da3d-42f8-ae31-f9d601f95c6d,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,18474.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
9,transaction,d93fb495-8a7a-4997-8a16-b3581b778471,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,19896.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
10,transaction,6ba3dd59-4268-419d-b5aa-49df88c11c71,posted,Funds Transfer Transfer,3001.0,070c1d68-0ee0-477a-9679-294ea7059939,19947.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
11,transaction,7d9413b0-694f-4b62-aac9-c178a6f069c6,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,16946.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
12,transaction,4f3bb9a5-9597-4d71-80db-fae35b70edcd,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,16745.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,12/07/2023,2023-07-12T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
13,transaction,9cf8a7ac-0e8b-4699-81e6-98181bdf18cf,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,17245.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,9/07/2023,2023-07-09T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
14,transaction,d5a36da2-5b9f-4dbf-aa95-eb518d163f0f,posted,Wdl ATM CBA ATM SEAFORTH NSW 225101 AUS,-750.0,070c1d68-0ee0-477a-9679-294ea7059939,17323.26,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/07/2023,2023-07-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
15,transaction,70aa3766-93eb-4da6-ab69-299b16507794,posted,Transfer Platnm Homeloan 346454,-3860.0,070c1d68-0ee0-477a-9679-294ea7059939,18073.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/06/2023,2023-06-28T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
16,transaction,6b8f916b-3317-4a5a-818b-82b008f67d84,posted,TFR From Transaction to CC Acc 13,-9398.5,070c1d68-0ee0-477a-9679-294ea7059939,21933.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
17,transaction,7dbf9e0f-e172-4474-9427-69fbb2d46752,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,31331.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
18,transaction,d4f55027-9c2f-4288-8580-0969738f4d78,posted,CTRLINK CARERS Ref: 998R6789201610974V,19.6,070c1d68-0ee0-477a-9679-294ea7059939,14233.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,22/06/2023,2023-06-22T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
19,transaction,e24adcd4-4a91-4a0e-bc57-48256635e051,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,14214.16,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-19T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
20,transaction,a5fd3de7-1d3b-44e9-8821-d01dc852a0d7,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,14013.16,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
21,transaction,358ed9c0-46c0-486e-bedc-fe05cb2d7030,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,15435.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,18/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
22,transaction,7aa1234e-4132-4dcb-8cd2-c2adeeb43891,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,15486.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,15/06/2023,2023-06-15T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
23,transaction,793923f1-00e1-4181-b518-13feac5adca9,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,15285.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,14/06/2023,2023-06-14T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
24,transaction,305aba74-a09e-470d-9079-f386936b08b8,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,15785.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,11/06/2023,2023-06-11T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
25,transaction,32f52553-c38d-473f-994d-3e6dcf949268,posted,CTRLINK CARERS Ref: 998R6789201610974V,26.0,070c1d68-0ee0-477a-9679-294ea7059939,15863.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,1/06/2023,2023-06-01T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
26,transaction,78a8f7f6-5978-4985-a3d8-66f01838978c,posted,Transfer Platnm Homeloan 346454,-3867.5,070c1d68-0ee0-477a-9679-294ea7059939,15837.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,31/05/2023,2023-05-31T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
27,transaction,0b31ba00-2629-49d0-b5a3-ff18398efc7a,posted,TFR From Transaction to CC Acc 13,-9391.0,070c1d68-0ee0-477a-9679-294ea7059939,19704.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
28,transaction,d5944ba8-8211-4036-a412-aa25def5c61f,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,29095.86,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
29,transaction,1fe000a0-ccc3-4752-9fbc-f939a9473300,posted,MANLY WEST SCHOOL,-20.0,070c1d68-0ee0-477a-9679-294ea7059939,11997.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/05/2023,2023-05-28T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""

In [5]:
targetCol = 'balance'

### Data Cleaning

###### First, we'll drop some usless columns

In [6]:
clean = raw.copy(deep=True)
clean.drop(['type', 'id', 'status', 'direction', 'connection', 'subClass', 'links', 'description', 'postDate', 'enrich', 'institution', 'account'], axis=1, inplace=True)

clean.head(10)

    amount   balance            class transactionDate
0   -200.0  22109.56  cash-withdrawal       3/08/2023
1     -2.5  22309.56         bank-fee       3/08/2023
2   -200.0  22312.06  cash-withdrawal       3/08/2023
3     -2.5  22512.06         bank-fee       3/08/2023
4  -3852.5  22514.56          payment      29/07/2023
5  -9406.0  26367.06          payment      28/07/2023
6  17098.0  35773.06         transfer      28/07/2023
7    201.0  18675.06         transfer      17/07/2023
8  -1422.2  18474.06          payment      16/07/2023
9    -51.0  19896.26          payment      16/07/2023

###### Clean up dates into timestamps

In [7]:
datesAsTimestamp = pd.to_datetime(clean.pop('transactionDate'), format='%d/%m/%Y')
datesAsTimestamp = datesAsTimestamp.map(pd.Timestamp.timestamp)

day = 24*60*60
year = (365.2425)*day

clean['Day sin'] = np.sin(datesAsTimestamp * (2 * np.pi / day))
clean['Day cos'] = np.cos(datesAsTimestamp * (2 * np.pi / day))
clean['Year sin'] = np.sin(datesAsTimestamp * (2 * np.pi / year))
clean['Year cos'] = np.cos(datesAsTimestamp * (2 * np.pi / year))

###### One hot encode descriptions (to potentially indentify major hurdles to savings?)

In [8]:
encodedClasses = pd.get_dummies(clean.pop('class'))
clean = clean.join(encodedClasses)

In [9]:
clean.head(10)

,amount,balance,Day sin,Day cos,Year sin,Year cos,bank-fee,cash-withdrawal,payment,transfer
0,-200.0,22109.56,-8.175941e-12,1.0,-0.516141,-0.856504,0,1,0,0
1,-2.5,22309.56,-8.175941e-12,1.0,-0.516141,-0.856504,1,0,0,0
2,-200.0,22312.06,-8.175941e-12,1.0,-0.516141,-0.856504,0,1,0,0
3,-2.5,22512.06,-8.175941e-12,1.0,-0.516141,-0.856504,1,0,0,0
4,-3852.5,22514.56,-5.648035e-13,1.0,-0.440652,-0.897678,0,0,1,0
5,-9406.0,26367.06,-4.863342e-12,1.0,-0.425145,-0.905125,0,0,1,0
6,17098.0,35773.06,-4.863342e-12,1.0,-0.425145,-0.905125,0,0,0,1
7,201.0,18675.06,-8.491521e-12,1.0,-0.247299,-0.968939,0,0,0,1
8,-1422.2,18474.06,-1.279006e-11,1.0,-0.230595,-0.973050,0,0,1,0
9,-51.0,19896.26,-1.279006e-11,1.0,-0.230595,-0.973050,0,0,1,0

### Train/Test Split

In [10]:
trainPercent = 0.75
validationPercent = 0.15
testPercent = 0.1

In [11]:
n = len(clean)
train_df = clean[0:int(n*trainPercent)]
val_df = clean[int(n*trainPercent):int(n*(1-(validationPercent+testPercent)))]
test_df = clean[int(n*(1-(validationPercent+testPercent))):]

### Normalisation

In [12]:
train_mean = train_df.mean()
train_std = train_df.std()

train_df = (train_df - train_mean) / train_std
val_df = (val_df - train_mean) / train_std
test_df = (test_df - train_mean) / train_std

In [13]:
#After normalising, it's clear Day cos is useless
train_df.drop(columns=['Day cos'], inplace=True)
val_df.drop(columns=['Day cos'], inplace=True)
test_df.drop(columns=['Day cos'], inplace=True)

### Model Training

In [14]:
train_df

,amount,balance,Day sin,Year sin,Year cos,bank-fee,cash-withdrawal,payment,transfer
0,-0.051394,2.081805,-0.457899,-0.788015,-1.048682,-0.335972,2.308281,-0.988487,-0.568901
1,-0.013377,2.114899,-0.457899,-0.788015,-1.048682,2.962660,-0.431217,-0.988487,-0.568901
2,-0.051394,2.115312,-0.457899,-0.788015,-1.048682,-0.335972,2.308281,-0.988487,-0.568901
3,-0.013377,2.148406,-0.457899,-0.788015,-1.048682,2.962660,-0.431217,-0.988487,-0.568901
4,-0.754472,2.148820,1.295967,-0.676693,-1.104887,-0.335972,-0.431217,1.006963,-0.568901
...,...,...,...,...,...,...,...,...,...
211,0.025795,-0.416351,0.014096,1.026170,-0.835135,-0.335972,-0.431217,-0.988487,1.749638
212,0.025795,-0.449610,1.386294,1.061060,-0.801039,-0.335972,-0.431217,-0.988487,1.749638
213,-0.109142,-0.482869,0.395764,1.078024,-0.783579,-0.335972,-0.431217,1.006963,-0.568901
214,-0.043694,-0.400135,0.777432,1.126936,-0.729616,-0.335972,-0.431217,1.006963,-0.568901
215,-0.026178,-0.373660,0.777432,1.126936,-0.729616,-0.335972,-0.431217,1.006963,-0.568901

In [15]:
model = tf.keras.Sequential([
    Input(shape=(8,)),
    Dense(64, activation='relu'),
    Dropout(0.35),
    BatchNormalization(),
    Dense(16, activation='relu'),
    Dropout(0.20),
    BatchNormalization(),
    Dense(1, 'linear')
])

In [16]:
learning_rate_schedule = PiecewiseConstantDecay([1000, 2000, 3000], [0.1, 0.05, 0.01, 0.005])

In [17]:
earlyStop = EarlyStopping(monitor='mean_squared_error', patience=25, restore_best_weights=True)

In [18]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mean_squared_error', 'mean_absolute_error', 'mean_absolute_percentage_error', 'cosine_similarity'])

In [19]:
history = model.fit(train_df.drop(columns=[targetCol]),
                    train_df[targetCol],
                    epochs=150,
                    batch_size=64,
                    validation_data = (val_df.drop(columns=[targetCol]), val_df[targetCol]),
                    callbacks = [earlyStop])

Epoch 1/150
4/4 [==============================] - 7s 46ms/step - loss: 1.2916 - mean_squared_error: 1.2916 - mean_absolute_error: 0.8710 - mean_absolute_percentage_error: 409.6808 - cosine_similarity: 0.0278
Epoch 2/150
4/4 [==============================] - 0s 20ms/step - loss: 1.2743 - mean_squared_error: 1.2743 - mean_absolute_error: 0.8412 - mean_absolute_percentage_error: 499.8542 - cosine_similarity: 0.2500
Epoch 3/150
4/4 [==============================] - 0s 23ms/step - loss: 1.0426 - mean_squared_error: 1.0426 - mean_absolute_error: 0.7592 - mean_absolute_percentage_error: 391.5389 - cosine_similarity: 0.1759
Epoch 4/150
4/4 [==============================] - 0s 21ms/step - loss: 0.8498 - mean_squared_error: 0.8498 - mean_absolute_error: 0.7201 - mean_absolute_percentage_error: 360.3646 - cosine_similarity: 0.2222
Epoch 5/150
4/4 [==============================] - 0s 22ms/step - loss: 0.9171 - mean_squared_error: 0.9171 - mean_absolute_error: 0.7341 - mean_absolute_percentage_error: 293.0627 - cosine_similarity: 0.2685
Epoch 6/150
4/4 [==============================] - 0s 21ms/step - loss: 0.8475 - mean_squared_error: 0.8475 - mean_absolute_error: 0.7242 - mean_absolute_percentage_error: 241.4669 - cosine_similarity: 0.2870
Epoch 7/150
4/4 [==============================] - 0s 21ms/step - loss: 0.7590 - mean_squared_error: 0.7590 - mean_absolute_error: 0.6596 - mean_absolute_percentage_error: 255.7243 - cosine_similarity: 0.2685
Epoch 8/150
4/4 [==============================] - 0s 19ms/step - loss: 0.9372 - mean_squared_error: 0.9372 - mean_absolute_error: 0.6979 - mean_absolute_percentage_error: 319.8245 - cosine_similarity: 0.3148
Epoch 9/150
4/4 [==============================] - 0s 20ms/step - loss: 0.6311 - mean_squared_error: 0.6311 - mean_absolute_error: 0.5964 - mean_absolute_percentage_error: 323.6357 - cosine_similarity: 0.5370
Epoch 10/150
4/4 [==============================] - 0s 25ms/step - loss: 0.8207 - mean_squared_error: 0.8207 - mean_absolute_error: 0.6782 - mean_absolute_percentage_error: 288.4349 - cosine_similarity: 0.2870
Epoch 11/150
4/4 [==============================] - 0s 21ms/step - loss: 0.7859 - mean_squared_error: 0.7859 - mean_absolute_error: 0.6668 - mean_absolute_percentage_error: 287.8803 - cosine_similarity: 0.3704
Epoch 12/150
4/4 [==============================] - 0s 18ms/step - loss: 0.7699 - mean_squared_error: 0.7699 - mean_absolute_error: 0.6389 - mean_absolute_percentage_error: 288.7079 - cosine_similarity: 0.3981
Epoch 13/150
4/4 [==============================] - 0s 20ms/step - loss: 0.5841 - mean_squared_error: 0.5841 - mean_absolute_error: 0.5775 - mean_absolute_percentage_error: 246.9981 - cosine_similarity: 0.5000
Epoch 14/150
4/4 [==============================] - 0s 18ms/step - loss: 0.6151 - mean_squared_error: 0.6151 - mean_absolute_error: 0.5986 - mean_absolute_percentage_error: 268.8262 - cosine_similarity: 0.4907
Epoch 15/150
4/4 [==============================] - 0s 18ms/step - loss: 0.5929 - mean_squared_error: 0.5929 - mean_absolute_error: 0.5840 - mean_absolute_percentage_error: 247.4398 - cosine_similarity: 0.4074
Epoch 16/150
4/4 [==============================] - 0s 18ms/step - loss: 0.5996 - mean_squared_error: 0.5996 - mean_absolute_error: 0.5799 - mean_absolute_percentage_error: 268.1675 - cosine_similarity: 0.5463
Epoch 17/150
4/4 [==============================] - 0s 19ms/step - loss: 0.6649 - mean_squared_error: 0.6649 - mean_absolute_error: 0.5966 - mean_absolute_percentage_error: 245.8016 - cosine_similarity: 0.4167
Epoch 18/150
4/4 [==============================] - 0s 21ms/step - loss: 0.5595 - mean_squared_error: 0.5595 - mean_absolute_error: 0.5413 - mean_absolute_percentage_error: 253.4332 - cosine_similarity: 0.4722
Epoch 19/150
4/4 [==============================] - 0s 19ms/step - loss: 0.6251 - mean_squared_error: 0.6251 - mean_absolute_error: 0.5892 - mean_absolute_percentage_error: 288.7168 - cosine_similarity: 0.4815
Epoch 20/150
4/4 [==============================] - 0s 18ms/step - loss: 0.6515 - mean_squared_error: 0.6515 - mean_absolute_error: 0.5999 - mean_absolute_percentage_error: 294.4870 - cosine_similarity: 0.4722
Epoch 21/150
4/4 [==============================] - 0s 18ms/step - loss: 0.6268 - mean_squared_error: 0.6268 - mean_absolute_error: 0.5987 - mean_absolute_percentage_error: 348.9389 - cosine_similarity: 0.4259
Epoch 22/150
4/4 [==============================] - 0s 20ms/step - loss: 0.5800 - mean_squared_error: 0.5800 - mean_absolute_error: 0.5615 - mean_absolute_percentage_error: 273.9233 - cosine_similarity: 0.5648
Epoch 23/150
4/4 [==============================] - 0s 23ms/step - loss: 0.6048 - mean_squared_error: 0.6048 - mean_absolute_error: 0.5634 - mean_absolute_percentage_error: 350.0590 - cosine_similarity: 0.5278
Epoch 24/150
4/4 [==============================] - 0s 24ms/step - loss: 0.4818 - mean_squared_error: 0.4818 - mean_absolute_error: 0.5440 - mean_absolute_percentage_error: 333.7896 - cosine_similarity: 0.5370
Epoch 25/150
4/4 [==============================] - 0s 22ms/step - loss: 0.4224 - mean_squared_error: 0.4224 - mean_absolute_error: 0.4919 - mean_absolute_percentage_error: 205.9762 - cosine_similarity: 0.5370
Epoch 26/150
4/4 [==============================] - 0s 21ms/step - loss: 0.5775 - mean_squared_error: 0.5775 - mean_absolute_error: 0.5880 - mean_absolute_percentage_error: 428.7834 - cosine_similarity: 0.4444
Epoch 27/150
4/4 [==============================] - 0s 20ms/step - loss: 0.5975 - mean_squared_error: 0.5975 - mean_absolute_error: 0.5802 - mean_absolute_percentage_error: 265.9756 - cosine_similarity: 0.4352
Epoch 28/150
4/4 [==============================] - 0s 20ms/step - loss: 0.5324 - mean_squared_error: 0.5324 - mean_absolute_error: 0.5586 - mean_absolute_percentage_error: 304.8312 - cosine_similarity: 0.4815
Epoch 29/150
4/4 [==============================] - 0s 18ms/step - loss: 0.4640 - mean_squared_error: 0.4640 - mean_absolute_error: 0.5162 - mean_absolute_percentage_error: 233.6098 - cosine_similarity: 0.5370
Epoch 30/150
4/4 [==============================] - 0s 22ms/step - loss: 0.5063 - mean_squared_error: 0.5063 - mean_absolute_error: 0.5151 - mean_absolute_percentage_error: 351.2288 - cosine_similarity: 0.5185
Epoch 31/150
4/4 [==============================] - 0s 19ms/step - loss: 0.5153 - mean_squared_error: 0.5153 - mean_absolute_error: 0.5280 - mean_absolute_percentage_error: 265.6010 - cosine_similarity: 0.4630
Epoch 32/150
4/4 [==============================] - 0s 19ms/step - loss: 0.5307 - mean_squared_error: 0.5307 - mean_absolute_error: 0.5352 - mean_absolute_percentage_error: 243.3556 - cosine_similarity: 0.5926
Epoch 33/150
4/4 [==============================] - 0s 20ms/step - loss: 0.5365 - mean_squared_error: 0.5365 - mean_absolute_error: 0.5421 - mean_absolute_percentage_error: 272.8799 - cosine_similarity: 0.4630
Epoch 34/150
4/4 [==============================] - 0s 17ms/step - loss: 0.6476 - mean_squared_error: 0.6476 - mean_absolute_error: 0.5907 - mean_absolute_percentage_error: 269.5560 - cosine_similarity: 0.5000
Epoch 35/150
4/4 [==============================] - 0s 17ms/step - loss: 0.4323 - mean_squared_error: 0.4323 - mean_absolute_error: 0.4783 - mean_absolute_percentage_error: 202.6576 - cosine_similarity: 0.5278
Epoch 36/150
4/4 [==============================] - 0s 14ms/step - loss: 0.5123 - mean_squared_error: 0.5123 - mean_absolute_error: 0.5181 - mean_absolute_percentage_error: 215.4465 - cosine_similarity: 0.5370
Epoch 37/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4445 - mean_squared_error: 0.4445 - mean_absolute_error: 0.5001 - mean_absolute_percentage_error: 218.8287 - cosine_similarity: 0.5556
Epoch 38/150
4/4 [==============================] - 0s 16ms/step - loss: 0.5475 - mean_squared_error: 0.5475 - mean_absolute_error: 0.5392 - mean_absolute_percentage_error: 215.4794 - cosine_similarity: 0.5741
Epoch 39/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4973 - mean_squared_error: 0.4973 - mean_absolute_error: 0.4823 - mean_absolute_percentage_error: 323.4704 - cosine_similarity: 0.6111
Epoch 40/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4828 - mean_squared_error: 0.4828 - mean_absolute_error: 0.5241 - mean_absolute_percentage_error: 233.8192 - cosine_similarity: 0.5463
Epoch 41/150
4/4 [==============================] - 0s 14ms/step - loss: 0.5070 - mean_squared_error: 0.5070 - mean_absolute_error: 0.5176 - mean_absolute_percentage_error: 319.4185 - cosine_similarity: 0.5833
Epoch 42/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3576 - mean_squared_error: 0.3576 - mean_absolute_error: 0.4519 - mean_absolute_percentage_error: 265.6597 - cosine_similarity: 0.6111
Epoch 43/150
4/4 [==============================] - 0s 13ms/step - loss: 0.5309 - mean_squared_error: 0.5309 - mean_absolute_error: 0.5184 - mean_absolute_percentage_error: 273.7553 - cosine_similarity: 0.5556
Epoch 44/150
4/4 [==============================] - 0s 14ms/step - loss: 0.6308 - mean_squared_error: 0.6308 - mean_absolute_error: 0.5796 - mean_absolute_percentage_error: 313.4162 - cosine_similarity: 0.5278
Epoch 45/150
4/4 [==============================] - 0s 13ms/step - loss: 0.4237 - mean_squared_error: 0.4237 - mean_absolute_error: 0.4910 - mean_absolute_percentage_error: 212.1813 - cosine_similarity: 0.5648
Epoch 46/150
4/4 [==============================] - 0s 13ms/step - loss: 0.5469 - mean_squared_error: 0.5469 - mean_absolute_error: 0.5504 - mean_absolute_percentage_error: 281.5347 - cosine_similarity: 0.5278
Epoch 47/150
4/4 [==============================] - 0s 16ms/step - loss: 0.5330 - mean_squared_error: 0.5330 - mean_absolute_error: 0.5292 - mean_absolute_percentage_error: 261.1733 - cosine_similarity: 0.5093
Epoch 48/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4355 - mean_squared_error: 0.4355 - mean_absolute_error: 0.4906 - mean_absolute_percentage_error: 239.5295 - cosine_similarity: 0.5648
Epoch 49/150
4/4 [==============================] - 0s 14ms/step - loss: 0.5073 - mean_squared_error: 0.5073 - mean_absolute_error: 0.5453 - mean_absolute_percentage_error: 260.3719 - cosine_similarity: 0.5185
Epoch 50/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4962 - mean_squared_error: 0.4962 - mean_absolute_error: 0.5128 - mean_absolute_percentage_error: 316.0623 - cosine_similarity: 0.5463
Epoch 51/150
4/4 [==============================] - 0s 14ms/step - loss: 0.5107 - mean_squared_error: 0.5107 - mean_absolute_error: 0.5179 - mean_absolute_percentage_error: 361.3680 - cosine_similarity: 0.5278
Epoch 52/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3999 - mean_squared_error: 0.3999 - mean_absolute_error: 0.4800 - mean_absolute_percentage_error: 263.7474 - cosine_similarity: 0.6389
Epoch 53/150
4/4 [==============================] - 0s 15ms/step - loss: 0.4186 - mean_squared_error: 0.4186 - mean_absolute_error: 0.4662 - mean_absolute_percentage_error: 183.1636 - cosine_similarity: 0.5556
Epoch 54/150
4/4 [==============================] - 0s 15ms/step - loss: 0.4674 - mean_squared_error: 0.4674 - mean_absolute_error: 0.5028 - mean_absolute_percentage_error: 203.0978 - cosine_similarity: 0.5648
Epoch 55/150
4/4 [==============================] - 0s 17ms/step - loss: 0.4425 - mean_squared_error: 0.4425 - mean_absolute_error: 0.5109 - mean_absolute_percentage_error: 345.8418 - cosine_similarity: 0.6111
Epoch 56/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4415 - mean_squared_error: 0.4415 - mean_absolute_error: 0.4824 - mean_absolute_percentage_error: 248.6886 - cosine_similarity: 0.5648
Epoch 57/150
4/4 [==============================] - 0s 13ms/step - loss: 0.4366 - mean_squared_error: 0.4366 - mean_absolute_error: 0.4960 - mean_absolute_percentage_error: 313.9604 - cosine_similarity: 0.5926
Epoch 58/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4527 - mean_squared_error: 0.4527 - mean_absolute_error: 0.4969 - mean_absolute_percentage_error: 235.9194 - cosine_similarity: 0.5741
Epoch 59/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4064 - mean_squared_error: 0.4064 - mean_absolute_error: 0.4814 - mean_absolute_percentage_error: 316.6265 - cosine_similarity: 0.6019
Epoch 60/150
4/4 [==============================] - 0s 14ms/step - loss: 0.4186 - mean_squared_error: 0.4186 - mean_absolute_error: 0.4854 - mean_absolute_percentage_error: 340.5826 - cosine_similarity: 0.5463
Epoch 61/150
4/4 [==============================] - 0s 15ms/step - loss: 0.4630 - mean_squared_error: 0.4630 - mean_absolute_error: 0.5094 - mean_absolute_percentage_error: 261.5242 - cosine_similarity: 0.5741
Epoch 62/150
4/4 [==============================] - 0s 15ms/step - loss: 0.4601 - mean_squared_error: 0.4601 - mean_absolute_error: 0.4932 - mean_absolute_percentage_error: 221.1445 - cosine_similarity: 0.6296
Epoch 63/150
4/4 [==============================] - 0s 15ms/step - loss: 0.3960 - mean_squared_error: 0.3960 - mean_absolute_error: 0.4682 - mean_absolute_percentage_error: 255.8406 - cosine_similarity: 0.5833
Epoch 64/150
4/4 [==============================] - 0s 19ms/step - loss: 0.4017 - mean_squared_error: 0.4017 - mean_absolute_error: 0.4765 - mean_absolute_percentage_error: 291.6651 - cosine_similarity: 0.6019
Epoch 65/150
4/4 [==============================] - 0s 16ms/step - loss: 0.4250 - mean_squared_error: 0.4250 - mean_absolute_error: 0.4916 - mean_absolute_percentage_error: 239.4511 - cosine_similarity: 0.5463
Epoch 66/150
4/4 [==============================] - 0s 14ms/step - loss: 0.3982 - mean_squared_error: 0.3982 - mean_absolute_error: 0.4665 - mean_absolute_percentage_error: 284.1951 - cosine_similarity: 0.6574
Epoch 67/150
4/4 [==============================] - 0s 17ms/step - loss: 0.4316 - mean_squared_error: 0.4316 - mean_absolute_error: 0.4824 - mean_absolute_percentage_error: 253.8545 - cosine_similarity: 0.6019

### Model Evaluation

In [22]:
model.evaluate(test_df.drop(columns=[targetCol]), test_df[targetCol])

3/3 [==============================] - 1s 9ms/step - loss: 0.4267 - mean_squared_error: 0.4267 - mean_absolute_error: 0.5706 - mean_absolute_percentage_error: 60.5052 - cosine_similarity: 0.9178

[0.426678866147995,
 0.426678866147995,
 0.5705631375312805,
 60.505184173583984,
 0.9178082346916199]