In [1]:
#Libs
import pandas as pd

In [4]:
def getSampleData():
  return pd.read_csv("/content/drive/MyDrive/Sample getTransactions API data.csv")

In [7]:
raw = getSampleData()
raw.head(30)

,type,id,status,description,amount,account,balance,direction,class,institution,connection,enrich,transactionDate,postDate,subClass,links
0,transaction,4957bcf6-f18f-43d7-94df-71f44a0bcf32,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,d3de1ca1,22109.56,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:07:36,NaN,"{""account"":""https://au-api.basiq.io/users/6a52..."
1,transaction,0d6e11ab-e28e-4de0-a152-600cc44fb61c,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22309.56,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
2,transaction,323f6d42-a38e-4c46-83d2-6c8f3e999686,posted,Wdl ATM WES IGA BALGOWLAH HGT BALGOWL AU,-200.0,070c1d68-0ee0-477a-9679-294ea7059939,22312.06,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
3,transaction,1ab3a3c5-faeb-4de3-b5aa-612e5bc76fd5,posted,Non Hooli ATM Withdrawal Fee,-2.5,070c1d68-0ee0-477a-9679-294ea7059939,22512.06,debit,bank-fee,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/08/2023,2023-08-03T00:00:00Z,"{\title\"":\""\""","\""code\"":\""card\""}"""
4,transaction,d12df6a2-48b6-4f5f-a718-ccb377aa330c,posted,Transfer Platnm Homeloan 346454,-3852.5,070c1d68-0ee0-477a-9679-294ea7059939,22514.56,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,29/07/2023,2023-07-29T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
5,transaction,08e6f7c9-f359-48f2-b086-a55f468f2f60,posted,TFR From Transaction to CC Acc 13,-9406.0,070c1d68-0ee0-477a-9679-294ea7059939,26367.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
6,transaction,53570fde-c731-4e33-8224-0583650eeaa7,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,35773.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/07/2023,2023-07-28T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
7,transaction,55dbdd71-9976-43ec-a724-7cf620d279d4,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,18675.06,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,17/07/2023,2023-07-17T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
8,transaction,17b710a5-da3d-42f8-ae31-f9d601f95c6d,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,18474.06,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
9,transaction,d93fb495-8a7a-4997-8a16-b3581b778471,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,19896.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,16/07/2023,2023-07-16T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
10,transaction,6ba3dd59-4268-419d-b5aa-49df88c11c71,posted,Funds Transfer Transfer,3001.0,070c1d68-0ee0-477a-9679-294ea7059939,19947.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
11,transaction,7d9413b0-694f-4b62-aac9-c178a6f069c6,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,16946.26,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,13/07/2023,2023-07-13T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
12,transaction,4f3bb9a5-9597-4d71-80db-fae35b70edcd,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,16745.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,12/07/2023,2023-07-12T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
13,transaction,9cf8a7ac-0e8b-4699-81e6-98181bdf18cf,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,17245.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,9/07/2023,2023-07-09T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
14,transaction,d5a36da2-5b9f-4dbf-aa95-eb518d163f0f,posted,Wdl ATM CBA ATM SEAFORTH NSW 225101 AUS,-750.0,070c1d68-0ee0-477a-9679-294ea7059939,17323.26,debit,cash-withdrawal,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,3/07/2023,2023-07-03T00:00:00Z,NaN,"{\self\"":\""https://au-api.basiq.io/users/bca4b..."
15,transaction,70aa3766-93eb-4da6-ab69-299b16507794,posted,Transfer Platnm Homeloan 346454,-3860.0,070c1d68-0ee0-477a-9679-294ea7059939,18073.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/06/2023,2023-06-28T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
16,transaction,6b8f916b-3317-4a5a-818b-82b008f67d84,posted,TFR From Transaction to CC Acc 13,-9398.5,070c1d68-0ee0-477a-9679-294ea7059939,21933.26,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
17,transaction,7dbf9e0f-e172-4474-9427-69fbb2d46752,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,31331.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,27/06/2023,2023-06-27T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
18,transaction,d4f55027-9c2f-4288-8580-0969738f4d78,posted,CTRLINK CARERS Ref: 998R6789201610974V,19.6,070c1d68-0ee0-477a-9679-294ea7059939,14233.76,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,22/06/2023,2023-06-22T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
19,transaction,e24adcd4-4a91-4a0e-bc57-48256635e051,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,14214.16,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-19T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
20,transaction,a5fd3de7-1d3b-44e9-8821-d01dc852a0d7,posted,MANLY WEST SCHOOL,-1422.2,070c1d68-0ee0-477a-9679-294ea7059939,14013.16,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,19/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
21,transaction,358ed9c0-46c0-486e-bedc-fe05cb2d7030,posted,MANLY WEST SCHOOL,-51.0,070c1d68-0ee0-477a-9679-294ea7059939,15435.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,18/06/2023,2023-06-18T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""
22,transaction,7aa1234e-4132-4dcb-8cd2-c2adeeb43891,posted,Manly Maths Tutor Wages,201.0,070c1d68-0ee0-477a-9679-294ea7059939,15486.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,15/06/2023,2023-06-15T00:00:00Z,"{\title\"":\""Educational Support Services\""","\""code\"":\""822\""}"""
23,transaction,793923f1-00e1-4181-b518-13feac5adca9,posted,TFR Acc14000 TO 12389,-500.0,070c1d68-0ee0-477a-9679-294ea7059939,15285.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,14/06/2023,2023-06-14T00:00:00Z,"{\title\"":\""Legal and Accounting Services\""","\""code\"":\""693\""}"""
24,transaction,305aba74-a09e-470d-9079-f386936b08b8,posted,AGL RETAIL ENERGY LTD (GAS),-78.0,070c1d68-0ee0-477a-9679-294ea7059939,15785.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,11/06/2023,2023-06-11T00:00:00Z,"{\title\"":\""Electricity Distribution\""","\""code\"":\""263\""}"""
25,transaction,32f52553-c38d-473f-994d-3e6dcf949268,posted,CTRLINK CARERS Ref: 998R6789201610974V,26.0,070c1d68-0ee0-477a-9679-294ea7059939,15863.36,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,1/06/2023,2023-06-01T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
26,transaction,78a8f7f6-5978-4985-a3d8-66f01838978c,posted,Transfer Platnm Homeloan 346454,-3867.5,070c1d68-0ee0-477a-9679-294ea7059939,15837.36,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,31/05/2023,2023-05-31T00:00:00Z,"{\title\"":\""Auxiliary Finance and Investment S...","\""code\"":\""641\""}"""
27,transaction,0b31ba00-2629-49d0-b5a3-ff18398efc7a,posted,TFR From Transaction to CC Acc 13,-9391.0,070c1d68-0ee0-477a-9679-294ea7059939,19704.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Civic","Professional and Other Interest Group Services\"""
28,transaction,d5944ba8-8211-4036-a412-aa25def5c61f,posted,Payroll WFRMS 15439393,17098.0,070c1d68-0ee0-477a-9679-294ea7059939,29095.86,credit,transfer,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,30/05/2023,2023-05-30T00:00:00Z,"{\title\"":\""Unknown\""","\""code\"":\""0\""}"""
29,transaction,1fe000a0-ccc3-4752-9fbc-f939a9473300,posted,MANLY WEST SCHOOL,-20.0,070c1d68-0ee0-477a-9679-294ea7059939,11997.86,debit,payment,AU00000,1bd6c08e-8457-4a74-bdd9-514df489d27e,NaN,28/05/2023,2023-05-28T00:00:00Z,"{\title\"":\""School Education\""","\""code\"":\""802\""}"""